.__test {
    margin-top: 10rem;
    background-color: lightblue;
    text-align: center;

    .test-display {
        width: 100%;
        height: 100%;
        background-color: lightblue;
    }

    a {
        color: black;
    }
}